html 
    head 
        title= titulo
    body(style={"display": "flex", "justify-content":"center", "align-items":"center", "flex-direction":"column"})
        h1(style={"color": "blue"})= titulo 
        include meter.pug