<form class="col-8" action="/personas" method="post">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre: </label>
        <input type="text" class="form-control" id="nombre" name="nombre">
    </div>
    <div class="mb-3">
        <label for="apellido" class="form-label">Apellido: </label>
        <input type="text" class="form-control" id="apellido" name="apellido">
    </div>
    <div class="mb-3">
        <label for="edad" class="form-label">Edad: </label>
        <input type="text" class="form-control" id="edad" name="edad">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>