<div class="row col-8">
    <h2>Historial</h2>
    <% if (personas.length > 0){%>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Edad</th>
            </tr>
        </thead>
        <tbody>
            <% personas.forEach((persona, indice) => {%>
            <tr>
                <th scope="row"><%= indice %></th>
                <td><%= persona.nombre %></td>
                <td><%= persona.apellido %></td>
                <td><%= persona.edad %></td>
            </tr>
            <%});%>
        </tbody>
    </table>
    <%} else {%>
    <div class="alert alert-danger" role="alert">
        No se encontraron datos
    </div>
    <%}%>
</div>